// Colors
$yellow: #FFD100;
$red: #6C0100;
$dark-red: #290504;
$dark-gray: #808080;
$light-gray: #B2B1B1;
$border-container: #564a42;

// Font sizes
$h2-size: clamp(2rem, 1.7857rem + 1.0714vw, 2.75rem);
$h3-size: clamp(1.4375rem, 1.2946rem + 0.7143vw, 1.9375rem);
$main-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
$small: clamp(0.6875rem, 0.5982rem + 0.4464vw, 1rem);