html {
  background-color: #000;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  // font-family: "Sentient-Variable";
  font-family: "tiller", sans-serif;
  background-image: url("/images/body.webp");
  color: white;
  padding: 1rem;
  min-height: calc(100vh - 2rem);
  background-repeat: repeat;
  background-position: top;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
}


a {
  text-decoration: none;
}



.mounts-wrapper,
.wrapper {
  border-radius: 1rem;
  border: 2px solid $border-container;
  overflow: hidden;
  margin: auto;
  position: relative;
  height: 85dvh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px 0 #000 inset;
    pointer-events: none;
  }

  @supports (corner-shape: bevel) {
    corner-shape: bevel;
    border-radius: $corner-shape-m;
  }
}

.mounts-container,
.container {
  padding: 2rem;
  max-height: 75dvh;
  max-height: calc(100% - 2rem);
  background-color: #1a1512;
  background-image: url("/images/body.webp");

  background-repeat: repeat;
  background-attachment: local;
  overflow-y: scroll;

  @media screen and (max-width: 780px) {
    padding: .75rem;
    max-height: 100%;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
    margin: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $border-container;
    border-radius: 32px;
    cursor: pointer;

    @supports (corner-shape: bevel) {
      corner-shape: bevel;
    }

    &:hover {
      background: $container-bg;
    }
  }
}

.expansion {
  &__subcat {
    color: $yellow;
    text-shadow: 1px 1px 0 #000;
    line-height: 100%;
    font-weight: 400;
    padding: 0 1rem;

    @media screen and (max-width: 780px) {
      padding: 0 0.5rem;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0 1rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 780px) {
        display: block;
        padding: 0;
      }
    }
  }
}

.mount-item {
  list-style: none;

  filter: grayscale(100%);
  font-size: 1rem;
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 780px) {
    margin-bottom: .125rem;
  }

  span {
    text-shadow: 1px 1px 0 #000;
  }

  &__pin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3rem;
    border: 2px solid $yellow;
    background-color: $dark-brown;
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;

    &:active {
      filter: brightness(80%);
    }
  }

  &:hover {
    @include border-radius(0.5rem, true);
    filter: grayscale(0%);
    background-color: #28221c;
    box-shadow: inset 0px 0px 0px 2px $border-container, inset 0px 0px 0px 3px black;

    .mount-item__pin-btn {
      opacity: 100%;
    }
  }

  &__owned {
    filter: grayscale(0%);

    .mount-item__link {
      color: white;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #595959;
    padding: 0.5rem;
  }

  &__icon {
    position: relative;
    border-radius: 0.25rem;
    border: $border-container solid 2px;

    @supports (corner-shape: bevel) {
      corner-shape: bevel;
      border-radius: $corner-shape-s;
    }
  }

}

.empty-page {
  text-align: center;
  max-width: 60ch;
  margin: 0 auto;
  margin-top: 20vh;

  @media screen and (max-width: 500px) {
    padding: 1.5rem;
    margin-top: 10vh;
  }

  &__h2 {
    @include gradient-heading($h1-size);
    line-height: 0.8;
    margin-top: auto;
    margin-bottom: 20px;
  }

  &__status-text {
    margin-bottom: 20px;
    @include gradient-heading($h3-size);
    margin-bottom: 2rem;
  }

  &__message {
    font-size: $main-size;
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 1rem;
    line-height: 1;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  &__link {
    color: white;
    padding: 0.5rem 2rem;
    font-size: $small;
    transition: all 0.3s ease;
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
    @include border-radius(0.5rem, true);
    background-color: $button-bg-dark;
    border: solid 2px $border-container;

    &:hover {
      background-color: $button-bg-hover;
    }

    &--red {
      color: $yellow;
      background-image: url("/images/body.webp");
      background-color: $red;
      background-blend-mode: luminosity;
      border: solid 2px #2d0000;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ff0400;
        background: radial-gradient(rgba(182, 3, 0, 0.7), rgba(0, 0, 0, 0));
        opacity: 0;
        z-index: 0;
        transition: all 0.3s ease;
      }

      &:hover {
        background-color: $red;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.button-gray {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  background-image: url("/images/body.webp");
  background-color: #5f5f5f;
  background-blend-mode: difference;
  border: solid 2px #121212;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  // width: 100%;
  color: white !important;

  @supports (corner-shape: bevel) {
    corner-shape: bevel;
    border-radius: 0.25rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(131, 145, 172, 0.5), rgba(0, 0, 0, 0));
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.button-red {
  color: $yellow;
  background-image: url("/images/body.webp");
  background-color: $red;
  background-blend-mode: luminosity;
  border: solid 2px #2d0000;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0400;
    background: radial-gradient(rgba(182, 3, 0, 0.7), rgba(0, 0, 0, 0));
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: $red;

    &::after {
      opacity: 1;
    }
  }
}

.button-label {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1rem;
  line-height: 1;
}